#left-contact-header, #right-contact-header {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-header-content {
    display: flex;
    margin: 0 10px;
}

html, body {
    font-family: "Open Sans Condensed", sans-serif;
    background: #eaeaea;
    margin: 0;
    padding: 0;
}

#contact-header {
    width: 100%;
    display: flex;
    font-family: arial !important;
}

.fas, .fab {
    display: flex !important;
    align-items: center !important;
    margin: 0 10px;
}

nav {
    position: sticky;

    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 14px 4px rgba(0, 0, 0, 0.05);

    display: flex;

    font-weight: bold;
    z-index: 1;

}

#logo, #nav-buttons {
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#logo-img {
    height: 80px;
    width: 80px;
}

#logo {
    display: flex;
    justify-content: center;
}

#nav-buttons {
    display: flex;
    align-items: center;
    padding: 5px;
}

#nav-buttons a {
    display: flex;
    align-items: center;
    transition: 0.3s;
    font-size: larger;
    margin: 0 25px;
    height: 100%;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#nav-buttons a:hover {
    color: red;
}