html, body {
    font-family: "Open Sans Condensed", sans-serif;
    background: #eaeaea;
    margin: 0;
    padding: 0;
}

#contact-header {
    width: 100%;
    display: flex;
    font-family: arial !important;
}

#left-contact-header, #right-contact-header {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-header-content {
    display: flex;
    margin: 0 10px;
}

i {
    display: flex !important;
    align-items: center !important;
    margin: 0 10px;
}

nav {
    position: sticky;

    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 14px 4px rgba(0, 0, 0, 0.05);

    display: flex;

    font-weight: bold;

}

#logo, #nav-buttons {
    width: 50%;
}

#logo-img {
    height: 80px;
    width: 80px;
}

#logo {
    display: flex;
    justify-content: center;
}

#nav-buttons {
    display: flex;
    align-items: center;
    padding: 5px;
}

#nav-buttons a {
    display: flex;
    align-items: center;
    transition: 0.3s;
    font-size: larger;
    margin: 0 25px;
    height: 100%;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#nav-buttons a:hover {
    color: red;
}

#bannerSlider {
    display: flex;
    justify-content: center;
}

#bannerSlider h1 {
    background: white;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 50px;
    margin-top: 150px;
    color: #d2aa4a;

    position: absolute;
    top: 17px;
}

#introduction-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#introduction-section h1 {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}

#introduction-section {
    font-size: 25px;
}

#introduction-section p:first-of-type {
    margin-top: 40px;
}

#introduction-text-container {
    width: 1000px;
    border-radius: 5px;
}

#learn-more-container {
    width: 1000px;
    margin: 30px auto 100px auto;
    display: flex;
    justify-content: space-evenly;

}

#learn-more-container a {
    background: #313131;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 47.5px;

    transition: 0.4s;

    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

#learn-more-container a:hover {
    font-size: 23px;
    width: 240px;
    height: 60px;
    background: #000000;
}

.slider {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    background: lightgray;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
}

.slide.active {
    display: block;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}