#bannerSlider {
    display: flex;
    justify-content: center;
}

#description, #title {
    background: rgba(0, 0, 0, 0.21);
    position: absolute;
    padding: 30px;
    color: white;
    border-radius: 10px;
}

#description {
    bottom: 10%;
}

#title {
    top: 10%;
}

#bannerSlider #title h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

#bannerSlider #description h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

#introduction-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#introduction-section h1 {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}

#introduction-section {
    font-size: 25px;
}

#introduction-section p:first-of-type {
    margin-top: 40px;
}

#introduction-text-container {
    width: 1000px;
    border-radius: 5px;
}

#learn-more-container {
    width: 1000px;
    margin: 30px auto 100px auto;
    display: flex;
    justify-content: space-evenly;

}

#learn-more-container a {
    background: #313131;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 47.5px;

    transition: 0.4s;

    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

#learn-more-container a:hover {
    font-size: 23px;
    width: 240px;
    height: 60px;
    background: #000000;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

#bannerSlider {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Dynamically adjusted by JS */
}

.slide {
    flex: 0 0 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 15px;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
