#recent-project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recent-project-section h1 {
    margin-top: 70px;
    text-align: center;
    font-size: 2.5em;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    width: 70%;
    margin-bottom: 20px;
}

.recent-project-container {
    max-width: 1000px;
    width: 1000px;
    padding: 20px;

    display: flex;
    justify-content: space-around;
}

.slider-track {
    display: flex;
    justify-content: center;

}

.recent-project-container .project-img {
    aspect-ratio: 5 / 3;
    width: 495px;
    height: auto;
    border: 20px solid white;
}

.hidden {
    display: none !important;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    cursor: pointer;
}

.left-arrow {
    left: 40px;
}

.right-arrow {
    right: 40px;
}

.recent-project-container .project-text {
    width: 30%;
    padding: 20px;
    border-radius: 20px;
}

.recent-project-container h3 {
    font-size: 2em;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.recent-project-container p {
    font-size: 1.2em;
    border-radius: 10px;
    text-align: center;
    background: white;
    padding: 20px;
}

#recentt-projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recentt-projects-section h2 {
    text-align: center;
    font-size: 2.2em;
    padding-bottom: 20px;
}

#recentt-projects-container {
    margin-top: 30px;
    padding-top: 20px;
    width: 1000px;

    display: flex;
    flex-direction: column;
}

#recentt-projects-container h3 {
    background: white;
    width: 200px;

    font-size: 1.8em;

    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

#recentt-projects-container p {
    margin-top: 10px;
    background: white;
    width: 850px;
    padding: 10px;
}

#fullscreen-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

#fullscreen-image-container {
    aspect-ratio: 5/3;
    width: clamp(0px, 75%, 90vh * (5 / 3));
    max-height: 90vh;
    position: relative;
    border: 3px solid black;
    background-size: cover;
    pointer-events: none;
}

.image {
    cursor: pointer;
}

#image-close-button {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-mark {
    font-size: 20px;
}
@media only screen and (max-width: 1000px) {
    #recentt-projects-container {
        width: 95%;
    }
    #recentt-projects-container h2 {
        font-size: 26px;
        padding-bottom: 0;
    }
    #recentt-projects-container p {
        width: 93%;
    }
    #recent-project-section h1 {
        font-size: 30px;
    }
    .recent-project-container {
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }
    .recent-project-container .project-text h3 {
        margin: 0;
    }
    .recent-project-container .project-text {
        width: 450px;
    }
    .recent-project-container h3, .recent-project-container p {
        background: none;
    }
    .recent-project-container p {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 784px) {
    #fullscreen-image-container {
        width: min(95vw, 90vh * (5 / 3));
    }
    .recent-project-container:last-of-type {
        margin-bottom: 200px;
    }
}

@media only screen and (max-width: 544px) {
    .recent-project-container .project-img {
        aspect-ratio: 4/3;
        width: 80%;
        border: 10px solid white;
    }
    .recent-project-container .project-text {
        width: 268px;
    }
    .arrow {
        top: 65%;
    }
    .left-arrow {
        left: 35px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .right-arrow {
        right: 10%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #image-close-button {
        top: 9px;
        right: 9px;
        width: 30px;
        height: 30px;
    }
}