.reveal {
    position: relative;
    transform: translateY(40px);
    transition: 0.8s ease-in-out;
    opacity: 0;
}

.reveal {
    transition: 0.45s ease-in-out;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}